import path from "node:path"
import { fileURLToPath } from "node:url"
${adapterImport}
import { lexicalEditor } from "@payloadcms/richtext-lexical"
import { buildConfig } from "payload"

import { MainNavigation } from "./globals/MainNavigation"
import { SiteSettings } from "./globals/SiteSettings"
import { Categories } from "./collections/Categories"
import { Media } from "./collections/Media"
import { Pages } from "./collections/Pages"
import { Posts } from "./collections/Posts"
import { Tags } from "./collections/Tags"
import { Users } from "./collections/Users"

const filename = fileURLToPath(import.meta.url)
const dirname = path.dirname(filename)

export default buildConfig({
  admin: {
    user: Users.slug,
    importMap: {
      baseDir: path.resolve(dirname),
    },
  },
  collections: [Users, Media, Categories, Tags, Pages, Posts],
  globals: [SiteSettings, MainNavigation],
  editor: lexicalEditor(),
  secret: process.env.PAYLOAD_SECRET || "change-me",
  typescript: {
    outputFile: path.resolve(dirname, "payload-types.ts"),
  },
  db: ${adapter},
})
